# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Distribution/build files
build/
dist/
*.egg-info/
*.egg

# Logs and test caches
*.log
.cache
.coverage
.pytest_cache/
.nox/
.tox/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# CSV data files
*.csv

# Example csv file
!data/cleaned_hr_data_final.example.csv

# Project-specific secrets
.env

